body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #EAF6EC 50%, #F8EEEB 50%);
    color: #333;
    margin: 0; 
    padding: 0; 
}

main{
    margin-top: 70px;
}

/* ШАПКА */
.header { 
    background-color: #23606F; 
    color: white;
    height: 34px;    
    padding-top: 12px;
    padding-bottom: 12px;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;      
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}

.logo {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 6px;
    margin-right: 126px;
}

.logo img {    
    width: auto;
    height: 30px;  
}

.nav {
    display: flex;
    gap: 60px;
}

.nav a {    
    font-style: normal;
    font-size: 18px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

.nav a:hover {
    text-decoration: underline;
    color: #A1D6D8; 
}

/*Готовые проекты*/
#proj-up {
    margin: 18px 6px; 
    padding: 10px 100px;
    background: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

#proj-up h2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 10px;
}

#proj-up p {
    margin-top: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #000000;
}

/* Готовые проекты секции*/
.projects-container {
    margin: 18px 70px; 
}

#proj {
    display: flex;
    flex-wrap: nowrap;
}

.project {
    width: 400px;
    margin: 0 30px;
    background-color: #F8FBFE;
    margin-bottom: 1px;
    overflow: hidden;
}

.project-image {
    width: 404px;
    height: auto;
    max-height: 250px;
}

.info {
    padding: 15px;
    padding-top: 12px;
}

.info-s {
    align-items: center;
    justify-items: center;
} 

.info-s h3 {
    font-size: 18px;
    color: #000000;    
    font-style: normal;
    margin: 0 0 0 0;
    padding-left: px;
    letter-spacing: 1px;
    font-family: 'Arial';
    line-height: 20px;
    margin-bottom: 22px;
}

.labels-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 0 20px 0 20px; 
    align-items: center;
}

.label-1 {
    font-family: 'Arial';
    font-style: italic;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #000000;
}

.label-2 {
    font-family: 'Arial';
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.5px;
    text-align: left;
    width: 100px;
}

/* Подвал */
.section4{
    background: #1D2941;
    padding-bottom: 20px;
}

.header4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header4 img {
    margin-left: 275px;
    width: auto;
    height: 30px; 
}

.header4 p {
    font-size: 24px;
    font-family: 'Arial';
    text-align: center;
    letter-spacing: 3px;
    margin-right: 210px;
    color: white;
    
}

.content4 {
    display: flex; 
    justify-content: space-between; 
    gap: 60px;
    margin: 20px 100px;
}

.left-section4 {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
}

.left-section4 .link {
    font-family: 'Arial';
    margin-left: 175px;
    font-size: 14px;
    width: 200px;
    letter-spacing: 1px;
    text-align: justify;
    color: white; 
    margin-bottom: 5px;
    margin-top: 5px; 
    display: block;     
    text-decoration: none;
    line-height: 25px;
}

.left-section4 .link:hover {
    text-decoration: underline;
    color: #A1D6D8; 
}

.center-section4 p {
    text-align: left; 
    font-family: 'Arial';
    width: 290px;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
    color: white; 
    margin-top: 5px; 
    margin-bottom: 2px;
    line-height: 25px;
}

.right-section4 p {
    text-align: left; 
    font-family: 'Arial';
    margin-right: 110px;
    margin-bottom: 2px;
    margin-top: 5px; 
    width: 300px;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: justify;
    color: white; 
    line-height: 25px;
}

hr {
    border: none; 
    height: 1px; 
    background-color: white; 
    width: 100%; 
    margin-top: 50px;
}

.podv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 110px;
}

.podv p{
    font-family: 'Arial';
    margin-left: 275px;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: justify;
    color: white; 
    margin-bottom: 5px;
    font-style: normal;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.03em;
}

.podv img {
    height: 30px; 
    width: 30px; 
    margin-left: 15px;
    margin-top: 15px;
}

/* ДЕВИЗ */
.dev_rec {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: auto; 
    height: 34px; 
    margin: 18px 6px; 
    margin-top: 34px;
    padding: 10px 100px;
    background: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.dev_txt {    
    font-family: 'Arial';
    font-weight: bold;
    font-size: 18px; 
    letter-spacing: 1px;
    color: #000000;
}

/* Кнопка */
:root {
    --primary-color: #FF8800;
    --hover-color: #f6992f;
    --active-color: #e07a00;
    --text-color: #FFFFFF;
    --border-radius: 12px;
    --font-family: 'Arial', sans-serif;
}

.button {
    align-items: center;
    display: flex;
    justify-content: center; 
}

.button a {
    margin-bottom: 22px;
    background: var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 34px;
    font-family: var(--font-family);
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.button a:hover {
    background-color: var(--hover-color); 
    opacity: 0.9; 
}